# Firebase Studio
.firebase/
firebase.json
firestore.rules
firestore.indexes.json
storage.rules
database.rules.json

# IDX build files
.idx/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Misc
.DS_Store
*.pem
*.key
*.log
.env
.env*.local
*.env

# Next.js
.next/
out/
my-app/.next/
my-app/out/

# VSCode
.vscode/